<!-- ========================= FOOTER ========================= -->
{% load static %}
<footer class="footer-bar mt-5">
  <div class="container py-5">
      <a href="{% url 'home' %}" class="h2 navbar-links text-white"><img src="{% static './images/Logo.png' %}" alt="Smart Gardening Logo"></a><br><br>
      <div class="row py-3">
          <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
              <h6 class="text-uppercase font-weight-bold mb-4 text-warning">CUSTOMER SERVICE</h6>
              <ul class="list-unstyled mb-0">
                  <li class="mb-2"><a href="{% url 'contactUs' %}" class="footer-links">Contact Us</a></li>
                  <li class="mb-2"><a href="{% url 'tracker_home' %}" class="footer-links">Track Your Garden</a></li>
              </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
              <h6 class="text-uppercase font-weight-bold mb-4 text-warning">COMPANY</h6>
              <ul class="list-unstyled mb-0">
                  <li class="mb-2"><a href="{% url 'aboutUs' %}" class="footer-links">About Us</a></li>
                  <li class="mb-2"><a href="{% url 'terms' %}" class="footer-links">Terms & Conditions</a></li>
                  <li class="mb-2"><a href="#" class="footer-links">Privacy Policy</a></li>
              </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
              <h6 class="text-uppercase font-weight-bold mb-4 text-warning">CONNECT WITH US</h6>
              <ul class="list-unstyled mb-0">
                  <li class="mb-2"><a href="#" class="footer-links"><i class="fa fa-facebook-square"></i> 4.7k People like this</a></li>
                  <li class="mb-2"><a href="#" class="footer-links"><i class="fa fa-instagram"></i>  100k Followers</a></li>
              </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
              <h6 class="text-uppercase font-weight-bold mb-4 text-warning">JOIN NEWSLETTER</h6>
              <div class="input-group mb-3"> <input type="text" class="form-control input-text" placeholder="Enter email">
                  <div class="input-group-append"> <button class="btn btn-outline-warning btn-md" type="button">Subscribe</button> </div>
              </div>
          </div>
      </div>

      <div class="row py-3">
          <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
              <ul class="list-unstyled mb-0">
                  <li class="mb-2"><a href="#" class="footer-links"><i class="fas fa-calendar-check mr-2"></i>Book a demo</a></li>
              </ul>
          </div>
      </div>
  </div>
  <hr class="footer-hr">
  <div class="text-center mb-2 py-3">
      <a href="#" class="footer-links h5" style="color: #51CCCC;">STORE</a>
      <span class="h4 text-white">|</span>
      <a href="#" class="footer-links h5" style="color: #51CCCC;">OFFERS</a>
  </div>
  <div class="footer-bar my-2">
      <div class="container text-center">
          <p class="text-muted mb-0 py-2">© 2021 <a href="https://twitter.com/pandya_pragat" class="footer-links" target="_blank">Pragat Pandya</a> All rights reserved.</p>
      </div>
  </div>
</footer>
<!-- ========================= FOOTER END // ========================= -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	$(document).ready(function(){
		$('.thumb a').click(function(e){
			e.preventDefault();
			$('.mainImage img').attr('src', $(this).attr("href"));
		})
	})
</script>

</body>
</html>
