{% extends "layout.html" %}
{% load static %}

{% block content %}
<div class="aboutus-section m-4 p-4">
  <div class="container">
      <div class="row mt-4">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="aboutus">
                  <h2 class="aboutus-title border-bottom border-warning">About Us</h2>
                  <p class="aboutus-text mt-4">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
                  <p class="aboutus-text mt-2">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem</p>
                  <a class="aboutus-more" href="{% url 'contactUs' %}"><button class="btn btn-outline-success">Contact Us</button></a>
              </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="aboutus-banner">
                  <img class="img-fluid mt-4" src="{% static './images/aboutUs.jpg' %}" alt="">
              </div>
          </div>
          <div class="mt-5 p-2 col-md-12 col-sm-12 col-xs-12">
              <div class="feature">
                  <div class="feature-box">
                      <div class="clearfix">
                          <div class="feature-content mt-4 d-inline">
                              <h4 class="text-danger"><i class="fa fa-lg fa-heart mr-2"></i>Work with heart</h4>
                              <p class="lead">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
                              <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem</p>
                          </div>
                      </div>
                  </div>
                  <div class="feature-box mt-4">
                      <div class="clearfix">
                          <div class="feature-content">
                              <h4 class="text-primary"><i class="fa fa-lg fa-cog mr-2"></i>Reliable services</h4>
                              <p class="lead">Donec vitae sapien ut libero venenatis faucibu. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt</p>
                              <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem</p>
                          </div>
                      </div>
                  </div>
                  <div class="feature-box mt-4">
                      <div class="clearfix">
                          <div class="feature-content">
                              <h4 class="text-warning"><i class="fa fa-lg fa-fire"></i>Great support</h4>
                              <p class="lead">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
                              <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

{% endblock %}
