{% extends 'layout.html' %}

{% block content %}

<div class="container p-5">
  <h1 class="western text-dark">

              Privacy Policy</h1>
<p><br/>
<br/>

</p>
<ol>
	<li><p style="margin-bottom: 0cm"><b>Introduction</b></p>
	<ul>
		<li><p style="margin-bottom: 0cm">1.1Bewakoof Brands Private
		Limited (<strong>“Company”, “we”, “us” and “our”</strong>)
		respects the privacy of its users accessing its website at
		www.bewakoof.com (<strong>“Website”</strong>). For the purposes
		of this privacy policy (<strong>“Privacy Policy”</strong>) and
		wherever the context so requires <strong>“you”</strong>,
		<strong>“your”</strong>, <strong>“yourself”</strong>,
		<strong>“user”</strong> shall mean any natural or legal person
		who accesses or uses the Website and in the event that a natural
		person is representing a business entity, reference to such terms
		shall include a reference to the business entity.</p>
		<li><p style="margin-bottom: 0cm">1.2The Company has adopted this
		Privacy Policy, in compliance with the provisions of applicable
		laws, to inform you of what information we collect from you through
		the Website, how we collect the information, how we may use it and
		the steps we take to protect it.</p>
		<li><p style="margin-bottom: 0cm">1.3The Company has provided this
		Privacy Policy to familiarise you with:</p>
		<ul>
			<li><p style="margin-bottom: 0cm">a)The type of data or
			information that you share with or provide to Company and that
			Company collects from you;</p>
			<li><p style="margin-bottom: 0cm">b)The purpose for collection of
			such data or information from you;</p>
			<li><p style="margin-bottom: 0cm">c)Company’s information
			security practices and policies; and</p>
			<li><p style="margin-bottom: 0cm">d)Company’s policy on sharing
			or transferring your data or information with third parties.
			</p>
		</ul>
		<li><p style="margin-bottom: 0cm">1.4The capitalized words and
		expressions used in this Privacy Policy and not defined herein but
		defined in the Information Technology Act 2000 (<strong>“IT Act”</strong>)
		and the Information Technology (Reasonable Security Practices and
		Procedures and Sensitive Personal Data or Information) Rules, 2011
		(<strong>“SPDI Rules”</strong>) will have the meanings assigned
		to them thereunder.</p>
		<li><p style="margin-bottom: 0cm">1.5Please note that usage of the
		term Personal Information includes Sensitive Personal Data or
		Information (<strong>“SPDI”</strong>), wherever appropriate
		and/or mandated under the IT Act and the SPDI Rules.</p>
	</ul>
	<p style="margin-bottom: 0cm"></p>
	<li><p style="margin-bottom: 0cm"><b>Collection of Information</b></p>
	<ul>
		<li><p style="margin-bottom: 0cm">2.1The “Information” provided
		by you to Company or collected from you by Company may consist of
		“Personal Information” and “Non-Personal Information”.</p>
		<li><p style="margin-bottom: 0cm">2.2Personal Information for the
		purposes of this Privacy Policy shall include, but not be limited
		to:</p>
		<ul>
			<li><p style="margin-bottom: 0cm">a)Your user name along with your
			password;</p>
			<li><p style="margin-bottom: 0cm">b)Your name;</p>
			<li><p style="margin-bottom: 0cm">c)Your address;</p>
			<li><p style="margin-bottom: 0cm">d)Your telephone number;</p>
			<li><p style="margin-bottom: 0cm">e)Your e-mail address or other
			contact formation;</p>
			<li><p style="margin-bottom: 0cm">f)Your date of birth;</p>
			<li><p style="margin-bottom: 0cm">g)Your gender;</p>
			<li><p style="margin-bottom: 0cm">h)Information regarding your
			transactions on the Website, (including sales or purchase
			history);
			</p>
			<li><p style="margin-bottom: 0cm">i)Your financial information
			such as bank account information or credit card or debit card or
			other payment instrument details including one-time password;
			</p>
			<li><p style="margin-bottom: 0cm">j)Internet protocol address;</p>
			<li><p style="margin-bottom: 0cm">k)Any other Information that you
			provide during your registration process, if any, on the Website;
			or
			</p>
			<li><p style="margin-bottom: 0cm">l)[Identification code of your
			communication device which you use to access the Website or
			otherwise deal with Company],</p>
		</ul>
		<li><p style="margin-bottom: 0cm">2.3Such Personal Information may
		be collected in various ways including during the course of you
		availing certain services offered on the Website. Such instances
		include but are not limited to making an online purchase,
		participating in any online survey or contest, communicating with
		Company’s customer service by phone, email or otherwise or
		posting user reviews on the items available on the Website.</p>
		<li><p style="margin-bottom: 0cm">2.4We may receive Personal
		information about you from third parties, such as social media
		services, commercially available sources and business partners. If
		you access Website through a social media service or connect a
		service on Website to a social media service, the information we
		collect may include your user name associated with that social
		media service, any information or content the social media service
		has the right to share with us, such as your profile picture, email
		address or friends list, and any information you have made public
		in connection with that social media service. When you access the
		Website or otherwise deal with the Company through social media
		services or when you connect any Website to social media services,
		you are authorizing Company to collect, store, and use and retain
		such information and content in accordance with this Privacy Policy</p>
		<li><p>2.5You represent that the Personal Information you provide
		to us from time to time is and shall be correct, current and
		updated and that you have all the rights, permissions and consents
		to provide such information. Your providing the data/ information
		and the Company’s consequent storage, collection, usage,
		transfer, access or processing of the same shall not be in
		violation of any third -party agreement, laws, judgments, orders or
		decrees.</p>
		<p><b>Non-Personal Information:</b>
		</p>
		<li><p style="margin-bottom: 0cm">2.6Company may also collect
		information other than Personal Information from you through the
		Website when you visit and / or use the Website. Such information
		may be stored in server logs. This Non-Personal Information would
		not assist Company to identify you personally. This Non-Personal
		Information may include:</p>
		<ul>
			<li><p style="margin-bottom: 0cm">a)Your geographic location;</p>
			<li><p style="margin-bottom: 0cm">b)details of your telecom
			service provider or internet service provider;</p>
			<li><p style="margin-bottom: 0cm">c)the type of browser (internet
			explorer, firefox, opera, google chrome etc.);</p>
			<li><p style="margin-bottom: 0cm">d)the operating system of your
			system, device and the Website you last visited before visiting
			the Website;</p>
			<li><p style="margin-bottom: 0cm">e)The duration of your stay on
			the Website is also stored in the session along with the date and
			time of your access, Non-Personal Information is collected through
			various ways such through the use of cookies.</p>
		</ul>
	</ul>
	<p style="margin-bottom: 0cm"></p>
	<li><p style="margin-bottom: 0cm"><b>Purpose and Usage of Personal
	Information</b></p>
	<ul>
		<li><p style="margin-bottom: 0cm">3.1The Company <b>does not</b>
		disclose, transfer, trade, rent or sell your Personal Information
		in any manner, except as specified herein or if you express your
		consent towards the same.</p>
		<li><p style="margin-bottom: 0cm">3.2Information provided by you is
		used only:</p>
		<ul>
			<li><p style="margin-bottom: 0cm">a)To facilitate your use of the
			Website;
			</p>
			<li><p style="margin-bottom: 0cm">b)To respond to your concerns,
			inquiries or address your requests for information about the
			various services we offer;
			</p>
			<li><p style="margin-bottom: 0cm">c)To provide you with
			information about Company’s services/products and send you
			information, materials and offers from the Company;</p>
			<li><p style="margin-bottom: 0cm">d)To send you important
			information regarding the Website, changes to Company’s terms of
			service and various policies and/or other miscellaneous
			information;
			</p>
			<li><p style="margin-bottom: 0cm">e)To send you surveys and
			marketing communications that the Company believes may be of
			interest to you;
			</p>
			<li><p style="margin-bottom: 0cm">f)To personalize your experience
			on our Website;
			</p>
			<li><p style="margin-bottom: 0cm">g)To complete and fulfill your
			purchase, if you purchase any content or avail of any service from
			the Website, for example, to have your payments processed,
			communicate with you regarding your purchase and provide you with
			related customer service;</p>
			<li><p style="margin-bottom: 0cm">h)To administer product
			downloads;
			</p>
			<li><p style="margin-bottom: 0cm">i)To conduct internal reviews
			and data analysis for the Website (e.g., to determine the number
			of visitors to specific pages within the Website);</p>
			<li><p style="margin-bottom: 0cm">j)To improve the services,
			content and advertising on the Website;</p>
			<li><p style="margin-bottom: 0cm">k)To protect the integrity of
			the Website; and</p>
			<li><p style="margin-bottom: 0cm">l)To comply with legal
			requirements and disclosures provided under the laws of India.</p>
		</ul>
		<li><p>3.3Your Information will be kept confidential to the maximum
		possible extent and in accordance with the provisions set out
		herein.</p>
		<p><b>Cookies &amp; Shared Objects</b>
		</p>
		<li><p style="margin-bottom: 0cm">3.4Cookies are alphanumeric
		identifiers that our Website places onto your computer’s hard
		drive. Company may store temporary or permanent ‘cookies’ on
		your computer. We may also use cookies and/or shared objects to
		track and understand the traffic on our Website. Cookies identify
		your computer so that we can recognize you the next time you visit
		us. We may use cookies and/or shared objects to collect and store
		some information about you, such as the name of the domain and host
		from which you access the internet, the internet protocol address
		of the computer you are using, the date and time you access our
		Website and the internet address of the Website from which you
		linked directly to our Website. We use this information to better
		understand our users and customize our site for users’ particular
		preferences. You can erase or choose to block these cookies from
		your computer. You can configure your computer’s browser to alert
		you when we attempt to send you a cookie with an option to accept
		or refuse the cookie. If you have turned cookies off, you may be
		prevented from using certain features of the Website.</p>
	</ul>
	<li><p>Disclosure of Information</p>
	<ul>
		<p><b>Advertising</b></p>
		<li><p>4.1The Company uses some third parties to administer a
		limited set of advertisements on our Website and portals. During
		this process, none of your Personal Information is leaked. However,
		aggregate profile information, such as user community, may be used
		in the selection of advertising to make sure that it has relevance
		to the user. On some banner ads, an embedded pixel may be present,
		and while it does not associate with a cookie or other personal
		profile information, it may return session connection information
		that allows advertisers to better determine how many individual
		users have clicked on the ad banner. We do not disclose your
		Personal Information to third parties for their marketing and
		advertising purposes.
		</p>
		<p><b>Links to other third party sites</b></p>
		<li><p>4.2The Website may provide third party information and links
		to other websites that are not affiliates of or operated or
		controlled by the Company including but not limited to payment
		gateways or social networking websites. The Company is not
		responsible for any form of transmission, whatsoever, received by
		you from any third party website and accordingly does not make any
		representations concerning the privacy practices or other policies
		of such third party websites. Under no circumstances shall the
		Company be deemed to control or guarantee the accuracy, integrity,
		or quality of the information, data, text, software, sound,
		photographs, graphics, videos, cookies, messages or other materials
		available on such websites. Any user Information provided by you to
		such third party websites shall be governed in accordance with the
		privacy policies of such websites and it is recommended that you
		review the privacy policy of such websites prior to using such
		websites.
		</p>
		<p><b>Disclosure of Personal Information</b>
		</p>
		<li><p style="margin-bottom: 0cm">4.3We may disclose your Personal
		Information when required to do so by law or regulation, or under
		any legal obligation or order under law or in response to a request
		from a law enforcement or governmental agency or judicial,
		quasi-judicial or any other statutory or constitutional authority
		or to establish or exercise our legal rights or defend against
		legal claims.</p>
		<li><p style="margin-bottom: 0cm">4.4We may disclose your Personal
		Information to law enforcement offices, third party rights owners,
		or others in the good faith belief that such disclosure is
		reasonably necessary to: enforce our terms or Privacy Policy;
		respond to claims that an advertisement, posting or other content
		violates the rights of a third party; or protect the rights,
		property or personal safety of our users or the general public.
		</p>
	</ul>
	<p style="margin-bottom: 0cm"></p>
	<li><p style="margin-bottom: 0cm"><b>Security Practices and
	Procedures</b></p>
	<ul>
		<li><p style="margin-bottom: 0cm">5.1The security of your
		Information is very important to the Company. We use reasonable
		security measures, at the minimum those mandated under the
		applicable laws, to safeguard and protect your Information. You
		accept the inherent security implications of providing privacy to
		your Information shared with us and you will not hold us
		responsible for any breach of security or the disclosure of
		Information unless we have been grossly and wilfully negligent.</p>
		<li><p style="margin-bottom: 0cm">5.2We may enter into agreement
		with third parties (in or outside of India) to store your
		Information. These third parties may have their own security
		standards to safeguard your information or data and we will on
		commercial reasonable basis require such third parties to adopt
		reasonable security standards to safeguard your information / data.</p>
		<li><p style="margin-bottom: 0cm">5.3Notwithstanding anything
		contained in this Privacy Policy or elsewhere, we shall not be held
		responsible for any loss, damage or misuse of your Information, if
		such loss, damage or misuse is attributable to a Force Majeure
		Event. A “Force Majeure Event” shall mean any event that is
		beyond our reasonable control and shall include, without
		limitation, sabotage, fire, flood, explosion, acts of God, civil
		commotion, strikes or industrial action of any kind, riots,
		insurrection, war, acts of government, computer hacking,
		unauthorized access to computer data and storage device, computer
		crashes, breach of security and encryption, etc.
		</p>
		<li><p style="margin-bottom: 0cm">5.4In the event of any breach of
		your Personal Information, the Company will, without unreasonable
		delay, notify you of it by email or fax and take appropriate
		measures in compliance with the provisions of applicable laws.</p>
	</ul>
	<p></p>
	<li><p><b>Miscellaneous</b></p>
	<ul>
		<p><b>User Rights and Discretion</b></p>
		<li><p style="margin-bottom: 0cm">6.1All Personal Information
		provided to the Company by you have been voluntarily provided by
		you. You have the right to withdraw your consent at any time in
		writing by sending an e-mail to us at <a href="mailto:care@bewakoof.com">care@bewakoof.com</a>,
		in accordance with the terms of this Privacy Policy. However,
		please note that withdrawal of consent will not be retrospective in
		nature and shall be applicable prospectively. In case you do not
		provide your Personal Information or consent for usage of your
		Personal Information or subsequently withdraw your consent for
		usage of the Personal Information so collected, the Company
		reserves the right to discontinue the services for which the said
		Information was sought.</p>
		<li><p style="margin-bottom: 0cm">6.2You can review, modify, add,
		correct or update your Personal Information on a regular basis.
		When you update information, the Company will keep a copy of the
		prior version for its records. However, we are not responsible for
		the authenticity of the Personal Information provided by you.</p>
		<li><p style="margin-bottom: 0cm">6.3You agree and acknowledge that
		certain data or information cannot be corrected or deleted or is
		prohibited to be deleted as required under any applicable law, law
		enforcement requests or under any judicial proceedings. In respect
		to such data or information, the aforementioned rights will not be
		available.</p>
		<li><p>6.4The Company may, if you prefer, send direct advertisement
		mailers to you at the address given by you. You have the option to
		opt-out of this direct mailer by clicking at the unsubscribed link
		option attached to e-mail.</p>
		<p><b>Important Disclaimer</b>
		</p>
		<li><p>6.5Although the Company provides full security and secrecy
		to your Personal Information, we urge you to be careful with
		sharing of your Personal Information with any third party claiming
		to be related to the Company on separate emails/phone calls etc.
		The Company disclaims any and all liabilities towards any such
		claims that have arisen due to your own negligence or willful
		misconduct and the Company takes no responsibility of the same.</p>
		<p><b>Change in Privacy Policy</b>
		</p>
		<li><p>6.6This Privacy Policy may be amended / updated from time to
		time. Upon amending / updating the Privacy Policy, we will
		accordingly amend the date above. We suggest that you regularly
		check this Privacy Policy to apprise yourself of any updates. Your
		continued use of Website or provision of data or information
		thereafter will imply your unconditional acceptance of such updates
		to this Privacy Policy.
		</p>
		<p><b>Changes in Constitution</b></p>
		<li><p>6.7We and our affiliates may disclose or transfer some or
		all of your Personal Information with another business entity
		should we (or our assets) plan to merge with, or be acquired by
		that business entity, or re-organization, amalgamation,
		restructuring of business. When such transaction occur, then the
		other business entity (or the new combined entity) will be required
		to follow this Privacy Policy with respect to your Personal
		Information.
		</p>
		<p><b>Further Acknowledgements</b>
		</p>
		<li><p style="margin-bottom: 0cm">6.8You hereby acknowledge and
		agree that this Privacy Policy:</p>
		<ul>
			<li><p style="margin-bottom: 0cm">a)is clear and easily accessible
			and provide statements of Company’s policies and practices with
			respective to the Information;
			</p>
			<li><p style="margin-bottom: 0cm">b)provides for the various types
			of personal or sensitive personal data of information to be
			collected;</p>
			<li><p style="margin-bottom: 0cm">c)provides for the purposes of
			collection and usage of the Information;</p>
			<li><p style="margin-bottom: 0cm">d)provides for disclosure of
			Information; and</p>
			<li><p>e)provides for reasonable security practices and
			procedures.</p>
			<p><b>Grievance redressal</b></p>
		</ul>
		<li><p>6.9The Company respects your privacy and if you do not want
		to receive any kind of communications from bewakoof.com or have any
		grievances to share, please report to:
		</p>
	</ul>
</ol>
<p>Name: Pragat Pandya</p>
<p>Email: pragat.pandya@gmail.com</p>
<p><br/>
<br/>

</p>
</div>

{% endblock %}
